* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Roboto;
}

a {
  text-decoration: none;
  color: white;
  text-decoration: underline;
}

@font-face {
  font-family: "Norse";
  src: url(/font/Norse-Bold.otf);
}

.content-wrapper {
  display: flex;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40vw;
  height: 100vh;
  color: white;
  background-image: url(img/back.jpg);
  background-size: cover;
  text-align: center;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 40vw;
  height: 30vh;
}

.odin-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  width: 40vw;
  background-color: black;
  opacity: 0.5;
}
.odin-plus > p {
  font-family: Norse;
  font-size: 4rem;
}
img#odin-logo {
  height: 130px;
}

.painter-info {
  opacity: 0.7;
  margin-bottom: 10px;
  font-size: 0.8rem;
}

.right-side {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 100vh;
}
.top-para {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 30vh;
  width: 60vw;
  font-weight: bold;
  font-size: 1.2rem;
  padding-left: 35px;
  background-color: rgb(242, 242, 192);
}

.middle-div {
  background-color: white;
  padding-left: 35px;
  padding-top: 20px;
  height: 40vh;
}

.form-div {
  width: 70%;
  padding-top: 20px;
  font-size: 0.8rem;
  font-weight: 600;
}

form {
  display: flex;
  justify-content: space-between;
}

.pdg-prop {
  padding-bottom: 20px;
}

input {
  outline: none;
  border-radius: 4px;
  height: 1.5rem;
  border: 1px solid lightgray;
}
input:focus {
  border: 2px solid lightblue;
}

strong {
  color: red;
}

.bottom-right-side {
  padding-left: 35px;
  padding-top: 35px;
  background-color: rgb(242, 242, 192);
  height: 30vh;
}

button {
  padding: 10px 5px;
  border-radius: 10px;
  width: 10rem;
  background-color: rgb(242, 242, 192);
  border: 1px solid rgb(72, 72, 148);
  color: black;
  font-weight: bold;
  margin-bottom: 20px;
  box-shadow: 10px 10px 14px -13px rgba(34, 60, 80, 0.6);
}

button:hover {
  background-color: rgb(72, 72, 148);
  color: white;
}

#loglink {
  color: rgb(72, 72, 148);
  text-decoration: none;
}
